@import "tailwindcss";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));
* {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

html,
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html::-webkit-scrollbar,
.hide::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
button:disabled {
    cursor: not-allowed;
}

@theme {
    --color-gray-50: #fafafa;
    --color-gray-100: #f5f5f5;
    --color-gray-200: #e6e6e6;
    --color-gray-300: #d3d3d3;
    --color-gray-400: #a3a3a3;
    --color-gray-500: #727272;
    --color-gray-600: #535353;
    --color-gray-700: #404040;
    --color-gray-800: #272727;
    --color-gray-900: #1a1a1a;
    --color-gray-950: #101010;

    --color-primary-50: #eef9ff;
    --color-primary-100: #d9f1ff;
    --color-primary-200: #bbe7ff;
    --color-primary-300: #8ddaff;
    --color-primary-400: #57c5ff;
    --color-primary-500: #30aaff;
    --color-primary-600: #1c8ef7;
    --color-primary-700: #1274e3;
    --color-primary-800: #155db8;
    --color-primary-900: #185090;
    --color-primary-950: #133158;
}
.form-input-label {
    @apply block text-sm font-medium text-gray-700 dark:text-gray-300;
}

.form-input {
    @apply border text-sm border-gray-200 dark:border-gray-700 rounded-md relative bg-white dark:bg-gray-900 w-full focus-within:ring-1 focus-within:ring-primary-500 focus-within:border-primary-500;
}

button {
    @apply cursor-pointer;
}
